:root{
  --background: #2e2e2e;
  --background-dark: #252525;
  --background-cards: #252525;
  --seperator-lines: #1e1e1e;
  --scroll-bar-color: #191919;
  --domain-card-color: rgb(30,30,30);
}